# Enable rewrite engine
Options +FollowSymLinks -Indexes

RewriteEngine On

RewriteBase /myapp4

RewriteRule ^(data|libs|configs) - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^(.*).html$ index.php?id=$1 [L,QSA]
